@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background: #f3f2f2;
}



  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: normal;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    color: #353535;
    font-size: 2em;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
    CANGANDO ...             
  -----------------------------------------*/
  .spinner-border{
    width: 5rem;
    height: 5rem;
  }

  .preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #202020;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #ff0000;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #202020;
  }

  .section-title {
    padding-bottom: 40px;
  }

 /* section {
    position: relative;
    padding: 100px 0;
  }*/

  #contact{
    background: #ffffff;
    text-align: center;
  }

  .overlay {
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .online-form {
    position: relative;
  }

  .online-form .form-control {
    border-color: #f0f0f0;
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    box-shadow: none;
    height: 50px;
    margin-right: 0.5em;
    padding-left: 15px;
  }

  .online-form input[type="email"] {
    width: 60%;
  }

  .online-form button {
    background: #ff0000;
    border: 0;
    color: #ffffff;
    position: absolute;
    right: 6em;
    width: 25%;
  }

  .online-form button:hover {
    background: #202020;
    color: #ffffff;
  }

   /*---------------------------------------
    MENU ...             
   -----------------------------------------*/
  .menu-navbar {
    border: none;
    margin-bottom: 0;
    padding: 25px;
  }

  .menu-navbar img{
      max-width: 100px;
  }

  .text-google {
      color:#ff0000 !important;
  }

  /*---------------------------------------
      HOME          
  -----------------------------------------*/

  #home {
    background: url('../images/home-bg.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 12em;
    text-align: center;
  }

  #home h1 {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .home-info {
    margin-top: 7em;
  }

  .home-info h3 {
    color: #f0f0f0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 10px 0;
  }

  /*---------------------------------------
      FEATURE              
  -----------------------------------------*/

  #feature {
    background: #ffffff;
  }

  #feature .nav-tabs {
    border-bottom: 0;
  }

  #feature .nav>li>a {
    padding: 8px 0;
  }

  #feature .nav-tabs>li>a {
    color: #999999;
    font-size: 18px;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    margin-right: 35px;
  }

  #feature .nav-tabs>li.active>a, 
  #feature .nav-tabs>li.active>a:focus, 
  #feature .nav-tabs>li.active>a:hover {
    background: transparent;
    color: #202020;
    border-bottom: 3px solid #ff0000;
  }

  #feature .nav>li>a:focus, 
  #feature .nav>li>a:hover {
    background: transparent;
    border-bottom: 3px solid #ff0000;
    color: #202020;
  }

  #feature .tab-content {
    margin-top: 50px;
  }

  .tab-pane-item {
    margin: 20px 0;
  }

  .tab-pane-item h2 {
    margin: 0 0 5px 0;
  }

  .feature-image {
    padding: 0;
    margin: 0;
  }

/*---------------------------------------
      ABOUT              
  -----------------------------------------*/

  #about .col-md-4 {
    margin: 0;
    padding: 0;
  }

  .team-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
  }

  .team-thumb-up:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
  }

  .team-thumb-down:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid #ffffff;
  }

  .team-info {
    position: relative;
    padding: 40px;
  }

  .team-info h2 {margin: 0;}

  .team-info small {
    display: block;
    font-size: 18px;
    margin: 5px 0 10px 0;
  }

  .team-thumb img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }


  /*---------------------------------------
      TESTIMONIAL           
  -----------------------------------------*/

  #testimonial {
    background: #ffffff;
  }

  #testimonial .col-md-6 {
    margin: 0;
    padding: 0;
  }

  #testimonial .section-title {
    padding-bottom: 0;
  }

  #testimonial h1 {
    color: #ffffff;
  }

  .testimonial-image {
    background: url('../images/testimonial-image.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 65vh;
  }

  .testimonial-info {
    background: #202020;
    padding: 60px;
    height: 65vh;
  }

  .testimonial-info h3 {
    color: #d9d9d9;
    font-style: italic;
    margin-top: 5px;
  }

  .testimonial-info .item {
    display: block;
    width: 100%;
  }

  .testimonial-item {
    margin: 20px 0;
  }

  .owl-carousel .owl-item img,
  .testimonial-item img,
  .testimonial-item h4 {
    color: #d9d9d9;
    display: inline-block;
    vertical-align: top;
  }

  .owl-carousel .owl-item img,
  .testimonial-item img {
    border: 3px solid #ffffff;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }


  /*---------------------------------------
      PRICING             
  -----------------------------------------*/

  #about .section-title,
  #pricing .section-title {
    text-align: center;
  }

  #pricing .col-md-4 {
    margin: 0;
    padding: 0;
  }

  #pricing .col-md-4:last-child .pricing-thumb {
    border-right: 0;
  }

  .pricing-thumb {
    background: #ffffff;
    border-right: 2px solid #f0f0f0;
    padding: 20px 40px;
  }

  .pricing-title {
    padding-bottom: 5px;
  }

  .pricing-info {
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
  }

  .pricing-info,
  .pricing-bottom {
    padding: 20px 0;
  }

  .pricing-info p {
    font-size: 16px;
  }

  .pricing-bottom {
    position: relative;
  }

  .pricing-bottom span {
    font-size: 20px;
  }

  .pricing-btn {
    position: absolute;
    top: 15px;
    right: 0;
    display: inline-block;
  }

  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

  .section-btn {
    background: #ff0000;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 30px;
    transition: 0.5s 0.2s;
  }

  .section-btn:hover,
  .section-btn:focus {
    background: #202020;
    color: #ffffff;
  }

  /*---------------------------------------
      CONTACT             
  -----------------------------------------*/

  #contact-form .col-md-12,
  #contact-form .col-md-4 {
    padding-left: 0;
  }

  #contact-form .form-control {
    background: transparent;
    border: black;
    border-bottom: 2px solid #ff0000;
    border-radius: 2px;
    box-shadow: black ;
    margin: 10px 0;
  }

  #contact-form .form-control:focus {
    border-bottom-color: #202020;
  }

  #contact-form input {
    height: 50px;
  }

  #contact-form input[type='submit'] {
    background: #202020;
    border-radius: 50px;
    border: 0;
    color: #ffffff;
  }

  #contact-form input[type='submit']:hover {
    background: #ff0000;
    color: #ffffff;
  }
  

  /* -----------------------------------------
  FOOTER
  --------------------------------------------*/
  footer{
    background: #343a40;
  }

  footer a{
      color: white;
      text-align: center;
  }
  
  footer small{
    color: white;
}


  .top-bar {
    padding: 10px 0;
    line-height: 28px;
  }
  
  .social{
    text-align: center;
  }
  
  .social-share{
   display: inline-block;
   list-style: none;
   padding: 0;
   margin: 0;
  }
  
  ul.social-share li {
    display: inline-block;
  }
  
  ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
  }
  
  ul.social-share li a:hover {
    background: #ff0000;
    color: #fff;
  }